@media (max-width:842px) {

    #content {
        padding-top: 20px;
    }

    .inquiry-title {
        font-size: 31px;
    }

    .dropdown-select {
        padding-top: 15px;
    }

    .header-logo {
        padding-bottom: 12px;
    }

    .container {
        padding: 0 10px;
    }

    .modal-body {
        width: 500px;
    }

    #inquiry-form-fields {
        width: 100%;
    }

    #client-reviews {
        margin-top: 10px;
    }

    .footer-img {
        width: 38%;
        display: flex;
    }
}