@tailwind base;
@tailwind components;

/* Apply color to all form elements */
input,
select,
textarea {
  color: #242729;
}

@tailwind utilities;



@font-face {
  font-family: "Gotham-Light";
  src: url("../public/fonts/Gotham/Gotham-Light.otf");
}

@font-face {
  font-family: "Gotham-Medium";
  src: url("../public/fonts/Gotham/Gotham-Medium.otf");
}

@font-face {
  font-family: "Gotham-Book";
  src: url("../public/fonts/Gotham/Gotham-Book.otf");
}

body {
  color: #4e555c;

}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  width: 100%;
  max-width: 1110px;
  /* Content width as per PSD */
  margin: 0 auto;
  /* Center align the container */
  box-sizing: border-box;
  /* Include padding in the width calculation */
}

#header {
  height: 90px;
}

#content {
  padding-top: 35px;
  background: #042F6E;
  color: #fff;
}

.circle-badge {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #d68d00;
  color: white;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.input-suggestions {
  background: white;
  color: #242729;
  padding: 10px;
  position: absolute;
  left: 28px;
  top: 58px;
  font-size: smaller;
}

#client-reviews hr:last-child {
  visibility: hidden;
}